.popup__container {
  margin: 0;
  padding: 32px 36px 37px 36px;
  box-sizing: border-box;
  width: 430px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px 25px 22px;
  }
}