.profile {
  margin: 0;
  padding: 0;
  grid-row: 1;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 30px max-content min-content;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 26px min-content 14px min-content 36px min-content;
    justify-items: center;
  }
}