.button-edit {
  margin: 0;
  padding: 0;
  border: solid white 1px;
  opacity: 1;
  background-image: url(../../images/button-edit-pen.svg);
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  transition: 0.2s linear;
  cursor: pointer;
}

.button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .button-edit {
    width: 18px;
    height: 18px;
  }
}