.button-edit {
  margin: 0;
  padding: 0;
  border: solid white 1px;
  opacity: 1;
  background-image: url(../../images/button-edit-pen.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  grid-column: 2;
  grid-row: 1;
  transition: 0.2s linear;
  cursor: pointer;
}

.button-edit:hover {
  opacity: 0.6;
}