.button-submit {
  display: block;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .button-submit {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}