.button-close_place_popup {
  position: relative;
  transform: translate(calc(215px + 16px + 8px), -8px);
}

@media screen and (max-width: 600px) {
  .button-close_place_popup {
    transform: translate(calc(282px/2 + 16px + 8px), -8px);
  }
}

@media screen and (max-width: 425px) {
  .button-close_place_popup {
    width: 20px;
    height: 20px;
    transform: translate(calc(282px/2 - 10px), -8px);
  }
}