.profile__name {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  max-width: 430px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__name {
    max-width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .profile__name {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 380px;
  }
}

@media screen and (max-width: 600px) {
  .profile__name {
    max-width: 320px;
    font-size: 36px;
  }
}

@media screen and (max-width: 425px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    max-width: 220px;
  }
}