.page-container {
  margin: 0 auto;
  padding: 45px 0 60px 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  max-width: 880px;
  min-width: 282px;
}

@media screen and (max-width: 1024px) {
  .page-container {
    width: calc(100vw * 0.9);
  }
}

