.profile__avatar {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 1 / 3;
  grid-column: 1;
  -webkit-clip-path: circle(60px at 60px 60px);
          clip-path: circle(60px at 60px 60px);
}

@media screen and (max-width: 850px) {
  .profile__avatar {
    grid-row: 1;
    grid-column: 1;
    width: 160px;
    height: 160px;
    -webkit-clip-path: circle(80px at 80px 80px);
    clip-path: circle(80px at 80px 80px);
  }
}

@media screen and (max-width: 425px) {
  .profile__avatar {
    width: 120px;
    height: 120px;
    -webkit-clip-path: circle(60px at 60px 60px);
            clip-path: circle(60px at 60px 60px);
  }
}