.profile__name-container {
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  gap: 18px;
  grid-column: 3;
  grid-row: 1;
  align-items: flex-end;
}

@media screen and (max-width: 850px) {
  .profile__name-container {
    grid-column: 1;
    grid-row: 3;
  }
}

@media screen and (max-width: 425px) {
  .profile__name-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 10px;
  }
}